<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="/css/StylesComoComprar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
<header></header>
  <main>
<div class="contenedorMain">  <!-- Contenedor padre del Main-->

    <div class= "contMainA">  <!-- Contenedor del "Elegi" del Main-->
        <img src= "/images/icono-tienda.png" >
        <h2> Elegí </h2>
        <p> Seleccioná los productos que quieras, agregalos al carrito o elegí la opción Comprar ahora.</p>
    </div>
    <div class= "lineaVertical"> </div>  <!-- linea divisoria que se ve cuando estas en escritorio-->
    <div class= "contMainB">  <!-- Contenedor del "Paga" del Main-->
        <img src= "/images/icono-tarjetas.png">
        <h2> Pagá </h2>
        <p>Procesamos tu compra en nuestra tienda utilizando la tecnología de Mercado Libre. Te llevaremos para que realices el pago de forma ágil y segura a través de pagos con débito, crédito y efectivo.</p>
    </div>
    <div class= "lineaVertical"> </div> <!-- linea divisoria que se ve cuando estas en escritorio-->
    <div class= "contMainC">  <!-- Contenedor del "Recibe" del Main-->
        <img src= "/images/icono-caja.png">
        <h2> Recibe </h2>
        <p>Elegí la forma de entrega que prefieras... ¡y listo!</p>
    </div>

</div>

  </main>
<footer></footer>
</body>
</html> 