<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="/css/StyleDetalleDeProducto.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
</head>
<body>
    <header>

        <div class="contenedor">
    
            <div class="contenidoA"> <img src="/images/CT Logo.png" width= "105px"> </div>

            <div class="contenidoB"> <form action="/my-handling-form-page" method="post">
                <div class="contenidoBA">
                    <button type="submit" style="float: right;" > <i class="fas fa-search"></i> </button>
                    <label for="buscado"></label>
                    <input type="text" id="buscado" name="textoBuscado" size = 75% value = "¿Qué estás buscando?" >
                </div>
            </form> </div>

            <div class="contenidoC"> <a href = ""> <i class="fas fa-cart-plus" ></i>   </a> </div>
        
            <div class="contenidoD"> <a href = ""> <i class="fas fa-user-circle" ></i> </a> </div>

        </div>

    </header>
    <main>

        <div class="categoria"><a href="">inicio</a> > <a href="">sub categoria</a> > <a href=""> sub categoriax2</a> </div>
        
        <img class="imagencarrucel" src="/images/CT Logo.png" width= "450px"><!-- agregar la carrucel-->
        
        <h1>Nombre del producto</h1>

       <div>$XXX</div>

       <div class="sumarCarrito">
        <i class="fas fa-minus"></i> 1 <i class="fas fa-plus"></i>
        </div>
        <div class="metodoDePago">
            Metodo de pago
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </div>
        <div class="LocalPublico">
            <i class="fas fa-map-marker-alt"></i>
            <div>Local al publico</div>
            <div>direccion del local y hora de atencion</div>
        </div>
        <button class="botonCarrito" type="submit"> <div>Sumar al carrito</div> </button>
        <div>
            detalle de producto
        </div>
    </main>
    <footer>
</body>
</html> 