<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="/css/StylesHome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/Styles-Body-Home.css">
</head>
<body>
    <header>

        <div class="banner">  <!-- Banner de arriba de todo, por ahora estatico, cuando sepamos cómo aplicarle JS va a ser dinámico-->
            <h2>Envios a todo el País - Envíos en Caba en el día - 10 % OFF en Efectivo </h2>
        </div>
        <div class="contenedorHeader"> <!-- Contenedor de todo lo que se encuentra en el Header-->
    
            <div class="contHeaderA"> <!-- Contenedor del logo-->
                 <img src="/images/CT Logo.png" width= "105px"> 
            </div>

            <div class="contHeaderB"> <!-- Contenedor de la barra de búsqueda-->
                
                <form action="/my-handling-form-page" method="post">

                <div class="barraBusqueda">
                    <button type="submit" style="float: right;" class = "logoBusqueda" > <i class="fas fa-search"  ></i> </button>
                    <label for="buscado"></label>
                    <input class = "inputBusqueda" type="textarea" id="buscado" name="textoBuscado" size = 65% placeholder = "¿Qué estás buscando?" >
                </div>

                 </form> </div>

            <div class="contHeaderC"> <!-- Contenedor del logo del carrito-->
                <a href > <img  src="/images/icono-carrito.png" width= "40px" ></a> 
            </div>
        
            <div class="contHeaderD"> <!-- Contenedor del logo del perfil-->
                <a href > <img  src="/images/icono-perfil.png" width= "40px" ></a> 
             </div>

        </div>
        <div class = "lineaHorizontal"> </div> <!-- linea que separa al nav-->
        <nav> 
            <div class = "contenedorNav"> <!-- Contenedor de todo el nav-->
                <div class = "circuloSeparadorA"> </div> 
                <a href = "" class = "contNavA"> <h4> Quienes somos </h4> </a>
                <div class = "circuloSeparadorA"> </div>
                <a href = "" class = "contrNavA"> <h4> Juguetes </h4> </a>
                <div class = "circuloSeparadorA"> </div>
                <a href = "" class = "contNavB"> <h4> Cómo Comprar </h4> </a>
                <div class = "circuloSeparadorB"> </div>
                <a href = "" class = "contNavB"> <h4> Contacto </h4> </a>
                <div class = "circuloSeparadorB"> </div>
                <a href = "" class = "contNavB"> <h4> Preguntas Frencuentes </h4> </a>
                <div class = "circuloSeparadorB"> </div>
            </div>
        </nav>
        <div class = "lineaHorizontal"> </div>  <!-- linea que separa al nav-->
    </header>
    <main> 
            <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="https://plei-17fff.kxcdn.com/wp-content/uploads/2019/09/juguete-didactico.jpg" alt='carousel1' style="width:100%">
              <div class="text">Caption Text</div>
            </div>
          
            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="https://plei-17fff.kxcdn.com/wp-content/uploads/2019/09/juguetes-didactico.jpg" alt='carousel2' style="width:100%">
              <div class="text">Caption Two</div>
            </div>
          
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="https://plei-17fff.kxcdn.com/wp-content/uploads/2019/09/juguetes-didacticos.jpg" alt='carousel3' style="width:100%">
              <div class="text">Caption Three</div>
            </div>
          
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <br>
          
          <!-- The dots/circles -->
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
     
     <script>
                        var slideIndex = 1;
                        showSlides(slideIndex);
                        
                        function plusSlides(n) {
                          showSlides(slideIndex += n);
                        }
                        
                        function currentSlide(n) {
                          showSlides(slideIndex = n);
                        }
                        
                        function showSlides(n) {
                          var i;
                          var slides = document.getElementsByClassName("mySlides");
                          var dots = document.getElementsByClassName("dot");
                          if (n > slides.length) {slideIndex = 1}    
                          if (n < 1) {slideIndex = slides.length}
                          for (i = 0; i < slides.length; i++) {
                              slides[i].style.display = "none";  
                          }
                          for (i = 0; i < dots.length; i++) {
                              dots[i].className = dots[i].className.replace(" active", "");
                          }
                          slides[slideIndex-1].style.display = "block";  
                          dots[slideIndex-1].className += " active";
                        }
        </script>
        <!-- Navbar central -->

                <div class="nav-body" >  
                        <div class = "circuloSeparadorA"> </div> 
                        <a href = "" class = "contNavA"> <h4> Juguetes destacados </h4> </a>
                        <div class = "circuloSeparadorA"> </div>
                        <a href = "" class = "contrNavA"> <h4> Ofertas </h4> </a>
                        <div class = "circuloSeparadorA"> </div>
                        <a href = "" class = "contNavB"> <h4> Envios </h4> </a>
                </DIV> 
            
                <!-- Section Articles -->
                    <section>
                        <div class="products">
                            <article>
                                <img src="https://i.pinimg.com/564x/a2/7b/10/a27b10e014d0641c145b70eacbd92294.jpg" alt="jueguetes didácticos de tela" class="product_img">
                                <div class="main-article">
                                    <i class="fas fa-truck"></i>
                                    <p class="price">$6.770</p>
                                    <p class="discount">40% off</p>
                                    <h4 class="description">jueguetes didácticos de tela</h4>
                                </div>
                            </article>
                            <article>
                                <img src="https://i.pinimg.com/564x/7b/cd/14/7bcd140542958bc0a2c4f70713b5961a.jpg" alt="juguetes de fieltro para bebes" class="product_img">
                                <div class="main-article">
                                    <i class="fas fa-truck"></i>
                                    <p class="price">$230.000</p>
                                    <p class="discount">20% off</p>
                                    <h4 class="description">juguetes de fieltro para bebes</h4>
                                </div>
                            </article>
                            <article>
                                <img src="https://i.pinimg.com/564x/b6/17/e5/b617e54df0c0acbd4baf2df38814619a.jpg" alt="Tobogán de pelotas" class="product_img">
                                <div class="main-article">
                                    <i class="fas fa-truck"></i>
                                    <p class="price">$70.500</p>
                                    <p class="discount">10% off</p>
                                    <h4 class="description">Tobogán de pelotas</h4>
                                </div>
                            </article>
                            <article>
                                <img src="https://i.pinimg.com/564x/69/6d/0d/696d0d1de2b09833e616d06805075f50.jpg" alt="Minijuguetes" class="product_img">
                                <div class="main-article">
                                    <i class="fas fa-truck"></i>
                                    <p class="price">$23.200</p>
                                    <p class="discount">5% off</p>
                                    <h4 class="description">Minijuguetes</h4>
                                </div>
                            </article>
                        </div>  
                    </section>
    </main>
    <footer>
        <div class="contenedorFooter">  <!-- Contenedor padre del Footer -->

            <div class="contFooterA"> <!-- Contenedor del logo del Footer -->
                <img src="/images/CT Logo.png" width= "105px"> 
            </div>

            <div class= "contFooter-lineaHorizontal"> </div>
            <div class= "contFooter-lineaVertical"> </div>

            <div class="contFooterB">   <!-- Contenedor del contacto del Footer -->

                <h2> Contacto</h2> 
                <p>Ejemplo@gmail.com</p>
                <p>+54 911 27284692</p>
                <p>direccion del lugar</p>
            </div>

            <div class= "contFooter-lineaHorizontal"> </div>
            <div class= "contFooter-lineaVertical"> </div>

            <div class="contFooterC">  <!-- Contenedor de categorías del Footer -->

                <h2> Categorías </h2> 
                <a href="" class = "categFooter"> cate 1</a>
                <a href="" class = "categFooter"> cate 2</a>
                <a href="" class = "categFooter"> cate 3</a>
                <a href="" class = "categFooter"> cate 4</a>
                <a href="" class = "categFooter"> cate 5</a>
                <a href="" class = "categFooter"> cate 6</a>
                <a href="" class = "categFooter"> cate 7</a>
            </div>

            <div class= "contFooter-lineaHorizontal"> </div>
            <div class= "contFooter-lineaVertical"> </div>

            <div class="contFooterE">  <!-- Contenedor de medios de envio del Footer -->

                <h2> Medios de envíos: </h2>

                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="tarjetas" alt="ar_oca">
            </div>

            <div class= "contFooter-lineaHorizontal"> </div>
            <div class= "contFooter-lineaVertical"> </div>

            <div class="contFooterD">  <!-- Contenedor de Medios de pago del Footer -->

            <h2> Medios de pago:    </h2>

<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="tarjetas" alt="visa">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="tarjetas" alt="mastercard">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="tarjetas" alt="amex">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="tarjetas" alt="diners">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="tarjetas" alt="ar_banelco">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="tarjetas" alt="ar_cabal">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="tarjetas" alt="ar_tarjeta-naranja">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" class="tarjetas" alt="ar_tarjeta-shopping">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="tarjetas"alt="mercadopago">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" class="tarjetas" alt="ar_argencard">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" class="tarjetas" alt="nativa">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" class="tarjetas" alt="ar_cencosud">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="tarjetas" alt="pagofacil">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="tarjetas" alt="rapipago">
    </div>
    
        </div>
    </footer>
</body>
</html> 