<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="/css/StylesLogin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>

        <div class="banner">
            <h2>Envios a todo el País - Envíos en Caba en el día - 10 % OFF en Efectivo </h2>
        </div>
        <div class="contenedorHeader">
    
            <div class="contHeaderA"> <img src="/images/CT Logo.png" width= "105px"> </div>

            <div class="contHeaderB"> 
                
                <form action="/my-handling-form-page" method="post">

                <div class="barraBusqueda">
                    <button type="submit" style="float: right;" class = "logoBusqueda" > <i class="fas fa-search"  ></i> </button>
                    <label for="buscado"></label>
                    <input class = "inputBusqueda" type="textarea" id="buscado" name="textoBuscado" size = 65% placeholder = "¿Qué estás buscando?" >
                </div>

                 </form> </div>

            <div class="contHeaderC"> <a href > <img  src="/images/icono-carrito.png" width= "40px" ></a> </div>
        
            <div class="contHeaderD"> <a href > <img  src="/images/icono-perfil.png" width= "40px" ></a>  </div>

        </div>

    </header>
    <main>
        <form action="/" method="GET">
            <div class="contenedorForm">

                <div class="contenedorFormA">Iniciá sesión</div>

                <div class="contenedorFormB">
                    <label class="contFormEmail" for="Email">Email</label>
                    <input type="email" id="Email" name="Email">
                </div>

                <div class="contenedorFormC">
                    <label class="contFormContra" for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="contraseña"   >
                    <div class="perdiContra"><a href="">Olvide mi contraseña</a></div>
                </div>

                <div class="contenedorFormD">
                    <button class="iniciarSesion" type="submit" >Iniciar sesión</button>
                    <div class="crearCuenta">¿Aun no tenés cuenta?<a href="">Crear cuenta</a></div>
                </div>
                
            </div>
        </form>
    </main>
    <footer>
        <div class="contenedorFooter">

            <div class="contFooterA"> <img src="/images/CT Logo.png" width= "105px"> </div>

            <div class="contFooterB"> 

                <h2> Contacto</h2> 
                <p>Ejemplo@gmail.com</p>
                <p>+54 911 27284692</p>
                <p>direccion del lugar</p>
            </div>

            <div class="contFooterC"> 

                <h2> Categorías </h2> 
                <a href="" class = "categFooter"> cate 1</a>
                <a href="" class = "categFooter"> cate 2</a>
                <a href="" class = "categFooter"> cate 3</a>
                <a href="" class = "categFooter"> cate 4</a>
                <a href="" class = "categFooter"> cate 5</a>
                <a href="" class = "categFooter"> cate 6</a>
                <a href="" class = "categFooter"> cate 7</a>
            </div>

            <div class="contFooterD"> 

            <h2> Medios de pago:    </h2>

<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="tarjetas" alt="visa">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="tarjetas" alt="mastercard">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="tarjetas" alt="amex">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="tarjetas" alt="diners">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="tarjetas" alt="ar_banelco">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="tarjetas" alt="ar_cabal">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="tarjetas" alt="ar_tarjeta-naranja">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" class="tarjetas" alt="ar_tarjeta-shopping">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="tarjetas"alt="mercadopago">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" class="tarjetas" alt="ar_argencard">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" class="tarjetas" alt="nativa">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" class="tarjetas" alt="ar_cencosud">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="tarjetas" alt="pagofacil">
<img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="tarjetas" alt="rapipago">
    </div>

            <div class="contFooterE"> 

                <h2> Medios de envíos: </h2>

                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="tarjetas" alt="ar_oca">
            </div>
    
        </div>
    </footer>
</body>
</html> 