
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Diseño del header*/


/* Diseño del banner de arriba de todo*/
.banner {
    background-color:rgb(255, 241, 230);
}
.banner h2 {
    font-size: 13px;
    text-align: center;
}

/* Diseño del Contenedor del Header*/
.contenedorHeader{
    background-color:#EDDCD2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:start;
    align-items: center;
}

/* Diseño de Contenedores hijos del Header*/
.contHeaderA, .contHeaderB, .contHeaderC, .contHeaderD {
    flex-grow: 1;
    flex-wrap: nowrap;
}

/* Diseño del Contenedor del logo del Header*/
.contHeaderA{
    width:12%;
    padding: 2%;
}

/* Diseño  del logo del Header*/
.contHeaderA img {
    height: 50px;
    width: 50px;
}

/* Diseño del Contenedor de la barra de búsqueda del Header*/
.contHeaderB {
    width: 52%;
    align-items: center;
    padding-left: 15px;
    }

/* Diseño de la barra de busqueda del Header*/
.barrabusqueda {
    display: flex;
}

/* Diseño del input del Header*/
.inputBusqueda {
    width: 90%;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    padding-left: 2px;
}

/* Diseño del Logo de busqueda del Header*/
.logoBusqueda {
    order: 2;
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    display: none;
}

/* Diseño del contenedor del carrito del Header*/
.contHeaderC {
width: 10%;
padding-left: 5%;
}

/* Diseño del carrito del Header*/
.contHeaderC img {
    height: 25px;
    width: 25px;
}

.contHeaderC p {
    display: none;
}

/* Diseño del contenedor del perfil del Header*/
.contHeaderD {
width: 10%;
padding-left: 5%;
    }

/* Diseño del perfil del Header*/
.contHeaderD img {
    height: 25px;
    width: 25px;
}

.contHeaderD p {
    display: none;
}

.contenedorNav a{
    text-decoration:none;
    color:#CB997E;
}

/* Diseño del contenedor del nav del Header*/
.contenedorNav {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#EDDCD2;
    align-items: center;
}

/* opciones del nav que se ven cuando estas en 768px*/
.contNavB {
    display: none;
}

/* circulos que se ven cuando estas en movile*/
.circuloSeparadorA {
    background-color:#CB997E;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

/* circulos que se ven cuando estas en 768px*/
.circuloSeparadorB {
    display: none;
}


/* Linea divisoria para separar temas*/
.lineaHorizontalHeader {
    background: #CB997E;
    height: 1px;
    width: 100%;
    text-align: center;
}

/* Diseño del Main*/

/* Diseño del contenedor padre del Main*/
.gestionDePago .contenedorMain {
    background-color: #F0EFEB;
    display: flex;
    flex-wrap: wrap;
}

/* Diseño del contenedor de la caja de opciones de envio del Main*/
.gestionDePago .contMainA{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    width: 84%;
    background-color: #DDBEA9;
    padding: 10px;
}

.gestionDePago .contMainA h2 {
   font-size: 22px;
}

  /* Linea divisoria para separar temas*/
  .gestionDePago .lineaHorizontal {
    background: #616368;
    height: 1px;
    width: 95%;
    margin-left: 5px;
}

/* Diseño de la caja de la direccion del usuario del Main*/
.gestionDePago .contMainAB {
    display: flex;
    width: 95%;
    height: 100px;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #EDDCD2;
}

/* Diseño del fondo blanco del logo de maps del Main*/
.gestionDePago .contMainABA {
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 8%;
}

/* Diseño del logo de maps del Main*/
.gestionDePago .contMainABA i{
    position: absolute;
    left: 13px;
    top:12px ;
}

.gestionDePago .contMainABB {
    padding-left: 15px;
    padding-right: 5px;
}

/* "paquete 1" del Main*/
.gestionDePago .contMainAC {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Diseño de la caja del producto del Main*/
.gestionDePago .contMainAD {
    display: flex;
    width: 95%;
    height: 100px;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #EDDCD2;
}

/* Diseño de la parte de arriba de caja del producto del Main*/
.gestionDePago .contMainADA {
    display: flex;
    justify-content: space-between;
    width: 86%;
}

/* Linea divisoria para separar temas*/
.gestionDePago .lineaHorizontal2 {
    background: #616368;
    height: 1px;
    width: 95%;
    text-align: center;
}

/* Diseño de la parte de abajo de la caja del producto del Main*/
.gestionDePago .contMainADB {
    display: flex;
    width: 86%;
    margin-top: 10px;
}

/* Diseño de la foto de al caja del producto del Main*/
.gestionDePago .contMainADBA{
    width: 60px;
    border-radius: 10px;
}

/* Diseño del titulo y unidades de la caja del producto del Main*/
.gestionDePago .contMainADBB{
    width: 60%;
    padding-left: 10px;
}

/* Diseño del precio de la caja del producto del Main*/
.gestionDePago .contMainADBC{
    margin-top: 25px;
    padding-left: 21%;
}


/* Diseño de la caja de resumen de compra del Main*/
.gestionDePago .contMainB {
    display: flex;
    flex-direction: column;
    width: 84%;
    background-color:#DDBEA9;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 10px;

}

.gestionDePago .contMainBA {
    font-size: 18px;
}

/* Diseño del cuerpo de la caja de resumen de compra del Main*/
.gestionDePago .contMainBB, .contMainBC{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Diseño del boton la caja de resumen de compra del Main*/
.gestionDePago .contMainBD{
    padding: 10px;
    align-self:center;
    transform: background-color 600ms;
    border-radius: 10px;

}
.gestionDePago .contMainBD:hover {
    background-color: #CB997E;
}




/*Diseño del Footer */


/* Diseño del contenedor padre del Footer*/
.contenedorFooter {
    background-color: #EDDCD2;
    width: 100%;
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    justify-content:inherit;
    color: #CB997E;
}

/* Diseño del contenedor del logo del Footer*/
.contFooterA {
    width: 100%;
    padding-left: 30%;
}

/* Diseño del logo del Footer*/
.contFooterA img {
    width: 50%;
}

/* Diseño de los títulos del Footer*/
.contFooterB h2, .contFooterC h2, .contFooterD h2, .contFooterE h2{
    font-size: 16px;
    padding-right: 25px;
 }

   /* Linea divisoria para separar temas*/
.contFooter-lineaHorizontal {
    background: #616368;
    height: 1px;
    width: 74%;
    text-align: center;
    margin-left: 13%;
    margin-top: 15px;
}


/* linea vertical que aparecera en 768px*/
.contFooter-lineaVertical {
display: none;
}

 /* Diseño del contenedor del contacto del Footer*/
 .contFooterB {
     display: flex;
     flex-direction: column;
     width: 100%;
     padding-left: 35%;
     padding-top: 25px;
 }

  /* Diseño del contenedor de las categorías del Footer*/
 .contFooterC {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 35%;
    height: 125px;
    padding-top: 25px;
    padding-right: 30%;
}

/* Diseño de los href del footer*/
.contFooterC a {
    padding-left: 10px;
    text-decoration:none;
    color:#CB997E;
}

 /* Diseño del contenedor de los medios de pago del Footer*/
.contFooterD {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: space-between;
}

 /* Diseño del contenedor del medio de envio del Footer*/
.contFooterE {
    padding-top: 25px;
    width: 100%;
    padding-left: 35%;
}

 /* Diseño de las fotos de las tarjetas del Footer*/
.tarjetas {
    border-radius: 5px;
    height: 25px;
    width: 40px;
}


 /* Cambios en el diseño a partir de 576px EN HEADER Y FOOTER, los cambios del MAIN estan abajo*/
/*---------------------------------------------------------------------------------------------*/


 /* Cambios en el diseño a partir de 576px*/
 @media (min-width: 576px) {

    /* Diseño del Contenedor del logo del Header*/
    .contHeaderA{
        width: 5%;
    }
    
    /* Diseño del Contenedor de la barra de búsqueda del Header*/
    .contHeaderB{
        width: 55%;
        padding-left: 5%;
    }
    
    /* Diseño del input del Header*/
    .logoBusqueda {
        display: block;
    }
    
    /* Diseño del input del Header*/
    .inputBusqueda {
    padding-left: 10px;
    }
    
    /* Diseño del contenedor del carrito del Header*/
    .contHeaderC{
        width: 1%;
        padding-left: 5%;
    }
    
    /* Diseño del contenedor del perfil del Header*/
    .contHeaderD{
        width: 1%;
        padding-left: 2%;
    
    }
    
    /* Diseño del contenedor padre del Footer*/
    .contenedorFooter {
        padding: 0px;
    }
    
    /* Diseño de los títulos del Footer*/
    .contFooterB h2, .contFooterC h2, .contFooterD h2 {
        padding-right: 100px;
     }
    
    }
    
    @media (min-width: 768px) {
    
        .contNavB {
            display: block;
        }
    
        .circuloSeparadorB {
            background-color:#CB997E;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            display: block;
        }
        .contenedorNav {
            padding-left: 5%;
            padding-right: 5%;
        }
    
     /* Diseño de los títulos del Footer*/
    .contFooterB h2{
        padding-right: 75%;
     }
    
     .contenedorFooter {
         justify-content: space-between;
     }
    
     .contFooterA {
        margin-bottom: 30px;
        padding-left: 0%;
        width: 16%;
    }
    
    .contFooterA img {
        width: 90%;
        padding-top: 15px;
    }
    .contFooterB {
        margin-bottom: 30px;
        padding-left: 0%;
        width: 20%;
    }
    .contFooterC {
        margin-bottom: 30px;
        padding-left: 0%;
        width: 18%;
        padding-right: 0px;
    }
     .contFooterD {
         margin-bottom: 30px;
         padding-left: 0%;
         width: 18%;
         padding-right: 2%;
     }
     .contFooterE {
        margin-bottom: 30px;
        padding-left: 0%;
        width: 18%;
    }
    a.categFooter {
        width: 90%;
    }
    
      /* Al estar en horizontal se suma la linea divisoria*/
    .contFooter-lineaVertical {
        background: #CB997E;
        height: 150px;
        top: 136px;
        width: 3px;
        display: block;
        border-radius: 30%;
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
        }
    
    /* Al estar en horizontal se le quita la linea horizontal de movile*/
    .contFooter-lineaHorizontal {
        display: none;
    }
    .contFooterB h2, .contFooterE h2, .contFooterC h2, .contFooterD h2 {
        padding-right: 0px;
        padding-bottom: 15px;
     }
    
    }
    
    
    @media (min-width: 992px) {
        
    }
    
    
    @media (min-width: 1200px) {
    
        .contFooterD h2 {
            padding-right: 80px;
        }
    
    }
    

/* Cambios en el diseño a partir de 576px EN HMAIN, los cambios del HEADER Y FOOTER estan arriba*/
/*---------------------------------------------------------------------------------------------*/
   
@media (min-width: 992px) {
/* a partir de aca el resumen de compra se posiciona al lado de las opciones de envio*/
.gestionDePago .contenedorMain {
    flex-direction: row;
  }
  .gestionDePago .contMainA {
      width: 60%;
      margin: 5%;
  }
  .gestionDePago .contMainB {
    width: 25%;
    margin: 5%;
    margin-left: 0%;
}

.gestionDePago .contMainBD {
    margin-top: 50%;
 }
}
   
@media (min-width: 1200px) {

}