* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.banner {
    background-color:rgb(255, 241, 230);
}
.banner h2 {
    font-size: 13px;
    text-align: center;
}

.contenedorHeader{
    background-color:#EDDCD2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:start;
    align-items: center;
}

.contHeaderA, .contHeaderB, .contHeaderC, .contHeaderD {
    flex-grow: 1;
    flex-wrap: nowrap;
}

.contHeaderA{
    width:12%;
    padding: 2%;
}
.contHeaderA img {
    height: 50px;
    width: 50px;
}

.barrabusqueda {
    display: flex;
}

.inputBusqueda {
    width: 90%;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    padding-left: 2px;
}
.logoBusqueda {
    order: 2;
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    display: none;
}

.contHeaderB {
    width: 52%;
    align-items: center;
    padding-left: 15px;
    }

.contHeaderC {
width: 10%;
padding-left: 5%;
}
.contHeaderC img {
    height: 25px;
    width: 25px;
}

.contHeaderC p {
    display: none;
}

.contHeaderD {
width: 10%;
padding-left: 5%;
    }

.contHeaderD img {
    height: 25px;
    width: 25px;
}

.contHeaderD p {
    display: none;
}



.contenedorFooter {
    background-color: rgb(221, 190, 169);
    width: 100%;
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    justify-content:inherit;
}

.contFooterA {
    width: 100px;
    padding-left: 12px;
    padding-top: 25px;
}
.contFooterA img {
    height: 75px;
    width: 75px;
}
.contFooterB h2, .contFooterC h2, .contFooterD h2, .contFooterE h2{
    font-size: 16px;
    padding-right: 25px;
    font-family: unset;
 }

 .contFooterB {
     display: flex;
     flex-direction: column;
     width: 185px;
     padding-left: 35px;
     padding-top: 25px;
 }

 .contFooterC {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    padding-left:10px;
    height: 125px;
    padding-right: 15px;
    padding-top: 25px;
}

.contFooterC a {
    padding-left: 10px;
}

.contFooterD {
    width: 40%;
    padding-left:2%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: space-between;
}

.contFooterE {
    padding-left: 30px;
    padding-top: 25px;
}

.tarjetas {
    border-radius: 5px;
    height: 25px;
    width: 40px;
}

@media (min-width: 576px) {

.contenedor{
    background-color:#CCC;
}

.contHeaderA{
    width: 5%;
}

.contHeaderB{
    width: 55%;
    padding-left: 5%;
}

.logoBusqueda {
    display: block;
}
.inputBusqueda {
padding-left: 10px;
}

.contHeaderC{
    width: 1%;
    padding-left: 5%;
}

.contHeaderD{
    width: 1%;
    padding-left: 2%;

}

.contenedorFooter {
    padding: 0px;
}

.contFooterB h2, .contFooterC h2, .contFooterD h2 {

    padding-right: 100px;
 }
 
.contFooterE {
    width: 175px;
}


body {
    background-color: #FFF1E6;
}



}

@media (min-width: 768px) {

.contFooterB h2, .contFooterC h2, .contFooterD h2{

    padding-right: 175px;
 }
}


@media (min-width: 992px) {
    
    .contFooterB h2, .contFooterC h2, .contFooterD h2{

        padding-right: 300px;
     }
    
}


@media (min-width: 1200px) {

    .contFooterE {
        padding-top: 10px;
    }
    
}

main .contenedorForm{
    display:flex;
    flex-direction: column;
    margin-top:25%;
    margin-bottom:25%;
    color:#CB997E;
}
#Email, #contraseña{
    border-radius: 9px;
    padding: 13px;
    margin-top: 1vh;
    border-color: #DDBEA9;
    font-size: 16px;
}
.contenedorFormD, .contenedorFormB, .contenedorFormC{
    margin-top: 2vh;
}
.contenedorFormA{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
}
.contenedorFormB{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    width: 95vw;
}
.contenedorFormC{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    width: 95vw;
    margin-top: 3vh;
}
.contenedorFormD{
    margin: auto;
}

.contFormEmail, .contFormContra{
    font-size: 15px;
}


.perdiContra{
    text-align: right;
    margin-top: 5px;
}
.iniciarSesion{
    margin-top: 15px;
    float: center;
    border-radius: 20px;
    background-color: #CB997E;
    font-size: 20px;
    text-align: center;
    width: 95vw;
    border-color: #CB997E;
    padding:8px;
    color: white;
}
.crearCuenta{
text-align: center;
margin-top: 2.5vh;
font-size: 18px;
}
.iniciarSesion:hover{
    background-color: #DDBEA9;
    transition: background-color, 0,5ms;
}
@media (min-width: 576px){
    main .contenedorForm{
        margin-top:7vh;
    }
    .contenedorFormA{
        font-size: 40px;
        margin: 2vw 2vh;
    }
    .contenedorFormB, .contenedorFormC{
        width: 60vw;
        margin:auto;
    }
    .contFormEmail, .contFormContra{
        font-size: 18px;
    }
    .iniciarSesion{
        width: 60vw;
    }
}


