* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.banner {
    background-color:rgb(255, 241, 230);
}
.banner h2 {
    font-size: 13px;
    text-align: center;
}

.contenedorHeader{
    background-color:#EDDCD2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:start;
    align-items: center;
}

.contHeaderA, .contHeaderB, .contHeaderC, .contHeaderD {
    flex-grow: 1;
    flex-wrap: nowrap;
}

.contHeaderA{
    width:12%;
    padding: 2%;
}
.contHeaderA img {
    height: 50px;
    width: 50px;
}

.barrabusqueda {
    display: flex;
}

.inputBusqueda {
    width: 90%;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    padding-left: 2px;
}
.logoBusqueda {
    order: 2;
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    display: none;
}

.contHeaderB {
    width: 52%;
    align-items: center;
    padding-left: 15px;
    }

.contHeaderC {
width: 10%;
padding-left: 5%;
}
.contHeaderC img {
    height: 25px;
    width: 25px;
}

.contHeaderC p {
    display: none;
}

.contHeaderD {
width: 10%;
padding-left: 5%;
    }

.contHeaderD img {
    height: 25px;
    width: 25px;
}

.contHeaderD p {
    display: none;
}

body {
    background-color: white;
    font-family: Roboto Regular;
}

h1{
    color: #CB997E;
    text-align: center;
    margin-top: 15px;
}
.registroCompleto{
   width: 45%;
   margin:auto;
   display: flex;
   flex-direction:column ;
   justify-content: space-around;
   color:#CB997E;
   
}
.registroNombre, .registroEmail, .registroTelefono, .registroContraseña, .registroContraseñax2{
    padding: 10px;
}

.nombre, .telefono, .email, .contraseña, .contraseñax2{
    margin-bottom: 2.5%;
    margin-left: 7px;
    font-size: 17px;
    font-weight: bold;
}
#AlmacenarNombre, #AlmacenarEmail, #AlmacenarTelefono{
    color: #DDBEA9;
    
}
.yaTenesCuenta a{
    color:#CB997E;
}
.yaTenesCuenta{
    text-align: center;
    margin-top:15px;
    margin-bottom:20px;
}

.botonCuenta{
    margin-top: 15px;
    float: center;
    border-radius: 12px;
    background-color: #CB997E;
    font-size: 20px;
    text-align: center;
    width: 55vw;
    border-color: #CB997E;
    padding:5px;
    color: white;
}
#AlmacenarNombre, #AlmacenarEmail, #AlmacenarTelefono, #AlmacenarContraseña, #AlmacenarContraseñax2{
    border-radius: 5px;
    border-width: 1px;
    border-color: #CB997E;
    padding: 7px;
    width: 50vw;
}
input::placeholder{
color:#CB997E;
}/*revisar */








@media (min-width: 576px) {

.contenedor{
        background-color:#CCC;
    }
    
.contHeaderA{
        width: 5%;
    }
    
.contHeaderB{
        width: 55%;
        padding-left: 5%;
    }
    
.logoBusqueda {
        display: block;
    }
.inputBusqueda {
    padding-left: 10px;
    }
    
.contHeaderC{
        width: 1%;
        padding-left: 5%;
    }
    
.contHeaderD{
        width: 1%;
        padding-left: 2%;
    }
}
    @media (max-width: 576px) {
        .registroCompleto{
            width: 90vw;
        }
        #AlmacenarNombre, #AlmacenarEmail, #AlmacenarTelefono, #AlmacenarContraseña, #AlmacenarContraseñax2 {
            width: 85vw;
        }
        .botonCuenta{
            width: 90vw;
        }
    }
